{% extends 'core/base.html' %}



{% block content %}
<h1 class="text-3xl">О нас</h1>
<div class="space-y-8 mt-6">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime quaerat totam, ullam inventore, est vero
        dolor fugit eveniet facilis quia nesciunt eum optio debitis praesentium mollitia. Dignissimos, facere obcaecati!
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maxime quaerat totam, ullam inventore, est vero
        dolor fugit eveniet facilis quia nesciunt eum optio debitis praesentium mollitia. Dignissimos, facere obcaecati!
    </p>
</div>

{% endblock content %}